*{
    background-color: navajowhite;
}

#artie {
    height:auto;
    width: 500px;
}

#center {
    text-align: center;
}

.header {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumslateblue;
    text-align: center;
}

.recipe {
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: olive;
    text-align: center;
}