*{
    background-color: navajowhite;
}

.header {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: mediumslateblue;
    text-align: center;
}

.recipe {
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: olive;
    text-align: center;
}